Options +MultiViews
RewriteEngine On
RewriteRule "^([-A-Za-z0-9_]+(-|%20|\+| )[A-Za-z]*[0-9_]+[A-Za-z]+(;[0-9]+)?)" /?q=$1 [L,QSA]
RewriteRule "^((rs[0-9]+)(;[0-9]+)?)$" /?q=$1 [L,QSA]
RewriteRule ^([0-9]+)$ /?q=$1 [L,QSA]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/tab-separated-values "access plus 1 seconds"
</IfModule>
