/*
 * Adapted from "Indigo" by Viktor Persson http://arcsin.se
 *
 * License: "Feel free to use and modify but please provide credits."
 */

/* standard elements */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #0094D6 url(img/bg.gif) repeat-x;
	/* color: #466; */
	font: normal 10px "Lucida Sans Unicode",sans-serif;
	margin: 0;
}
input,textarea {
	font: normal 12px "Lucida Sans Unicode",sans-serif;
}
p,cite,code,ul,td,th {
	/* font-size: 1.2em; */
	font-size: 12px;
	padding-bottom: 1.2em;
	background-color: transparent;
}
blockquote,cite {
	margin-left: 4em;
	margin-right: 4em;
}
h1 {
	font-size: 2em;
	margin-bottom: 4px;
}
h2 {
	font-size: 1.6em;
	margin-bottom: 3px;
}
h3 {
	font-size: 1.2em;
	margin-bottom: 2px;
}
code {
	background: url(img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #39F;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	background: url(img/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}
h1,h2,h3 {
	color: #06C;
	padding-top: 6px;
}
/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	background: url(img/topleft.gif) no-repeat;
}

.header {
	height: 92px;
}

/* title */
.title {
	float: left;
	padding: 28px 0 0 76px;
}
.title h1 {
	color: #FFF;
	font: normal 2em Verdana,sans-serif;
}
/* navigation */
.navigation {
	float: left;
	height: 92px;
	margin-left: 24px;
	padding: 0 16px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.navigation a {
	color: #FFF;
	float: left;
	font: bold 1.2em "Trebuchet MS",sans-serif;
	margin-top: 56px;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	background-color: #4A91C3;
	color: #FFF;
}

/* main */
.main {
	background: #FFF url(img/bgmain.gif) no-repeat;
	clear: both;
	padding: 12px 12px 0 52px;
}

/* main left */
.sidenav {
	float: left;
	width: 24%;
}
.sidenav h1 {
	border-bottom: 1px dashed #DDD;
	color: #E73;
	font-size: 1.2em;
	height: 20px;
	margin-top: 1.2em;
}
.sidenav ul {
	margin: 0;
	padding: 0;
}
.sidenav li { 
	border-bottom: 1px dashed #EEE;
	list-style: none;
	margin: 0;
}
.sidenav li a {
	color: #777;
	display: block;
	font-size: 0.9em;
	padding: 3px 6px 3px 18px;
	text-decoration: none;
}
.sidenav li a:hover {
	color: #111;
	background: url(img/nav_li.gif) no-repeat;
}

/* content */
.content {
	float: left;
	margin-right: 4%;
	width: 69%;
}
.content .descr {
	color: #C60;
	margin-bottom: 6px;
}
.content li {
	margin-left: 18px;
}

/* report table */
.report_table {
	border-spacing: 0;
	border-style: solid;
	border-color: #bbb;
	border-width: 0 0 1px 1px;
	border-collapse: collapse;
}
.report_table td,.report_table th {
	font-size: 11px;
	padding: 2px;
	margin: 0px;
	border-style: solid;
	border-color: #bbb;
	border-width: 1px 1px 0 0;
	vertical-align: top;
	text-align: left;
}
.report_table th {
	font-weight: normal;
	background: #ddd;
}

/* public/private genomes table */
.genome_list_table form {
    display: inline;
}

/* "editable" toolbar */
.toolbar {
	border-bottom: 3px solid #ddd;
	margin: 0;
	padding: 0;
	position: relative;
}
.toolbar_title {
	padding: 0;
}
.editable .toolbar_title {
	width: 60%;
}
.toolbar_span {
	position: absolute;
	padding: 0;
	right: 0;
	bottom: 0;
}
.toolbar_tab {
	text-decoration: none;
	list-style: none;
	padding: 3px 10px;
	margin: 0px;
	color: #000;
	background-color: #ddd;
	border-top: 3px solid #ddd;
	border-left: 3px solid #ddd;
	border-right: 3px solid #ddd;

	/* css3 */
	-moz-border-radius-topleft:10px; 
	-webkit-border-top-left-radius:10px; 
	border-top-left-radius:10px; 
	-moz-border-radius-topright:10px; 
	-webkit-border-top-right-radius:10px; 
	border-top-right-radius:10px; 
}
.toolbar_tab_current {
	background-color: #fff;
}

.disease_table {
	border-collapse: collapse;
	margin-left: 25px;
}
.disease_table th,.disease_table td {
	text-align: right;
	padding: 4px;
	font-weight: normal;
}
.disease_table th {
	border-bottom: 1px solid black;
}
.disease_table td {
	background-color: #ddf;
}
.disease_table .altcolor td {
	background-color: #eef;
}
.disease_table td * {
	padding: 0;
}
.disease_table .rowlabel {
	text-align: left;
}
.disease_totals {
	margin-left: 0;
}


.quality_table {
	border-collapse: collapse;
	width: 100%;
}
.quality_table th,.quality_table td {
	text-align: center;
	padding: 1px 4px;
	font-weight: normal;
}
.quality_table th {
	border-bottom: 3px solid #ddd;
	font-weight: bold;
}
.quality_table td * {
	padding: 0;
	vertical-align: middle;
}
.quality_table .rowlabel {
	text-align: left;
	padding: 1px 4px 1px 0;
}
.quality_table .halfthere {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.quality_table .x {
	font-size: 16px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.quality_table td img, .quality_table td .x {
	cursor: pointer;
	cursor: hand;
	padding: 0 2px;
}
.quality_table td {
	vertical-align: middle;
}
.quality_table td.left {
	text-align: left;
}
.quality_table td.text {
	padding-bottom: 6px;
}
.quality_table td.text * {
	vertical-align: bottom;
}
.nowrap {
	white-space: nowrap;
}

ul.tipped {
	margin-left: 20px;
	font-size: 8pt;
}

.sidebar_message {
	margin: 20px 20px 20px 0;
	padding: 10px;
	background-color: #ffb;
	border: 1px solid #999;
	position: fixed;
}
.sidebar_message_container {
	height: 150px;
}
.sidebar_message .ui-button {
	border: 1px solid #999;
}

/* search results */
.searchurl {
	color: green;
	margin: 0 0 0.5em 0;
}

/* search form */
.styled {
	border: 3px double #E5E5E5;
	padding: 2px 3px;
}
.button {
	border: 1px solid #AAA;
	margin-left: 5px;
	padding: 2px 3px;
}

/* footer */
.footer {
	background: #0094D6 url(img/bgfooter.gif) repeat-x;
	color: #C1DEF0;
	font-size: 1.1em;
	line-height: 40px;
	text-align: center;
}
.footer a {
	color: #FFF;
	text-decoration: none;
}
.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}
.csshide {
	display: none;
}
.invisible {
	visibility: hidden;
}

/* inline alert */

.redalert {
	border: 1px solid #600;
	background-color: #fdd;
	color: #300;
	padding: 20px;
	margin: 0 0 10px 0;
	-moz-border-radius: 6px;
	-webkit-border-radius:  6px;
	border-radius: 6px;
}
.redalert>p {
	margin: 0;
	padding: 0;
}

/* Speech bubble code adapted from
   http://nicolasgallagher.com/progressive-enhancement-pure-css-speech-bubbles/ */

.rectangle-speech-border {
    position:relative;
    padding:15px 15px;
    margin:0 0 12px 30px;
    border:2px solid #bbf;
    background:#fff;

    /* css3 */
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}

.rectangle-speech-border-hidden>* {
    visibility:hidden;
}
.rectangle-speech-border-hidden {
    position:relative;
    text-align: center;
    left:10px;
    top:-6px;
    width:115px;
    height:14px;
    padding:0 0;
    margin:0 0 0 0;
    border:2px solid #bbf;
    background:transparent;
    cursor: pointer;
    cursor: hand;

    /* css3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.rectangle-speech-border>:first-child {
    visibility:hidden;
}

.rectangle-speech-border-hidden>:first-child {
    visibility:visible;
    color:#aaf;
    z-index:5;
}

.rectangle-speech-border-hidden>:first-child b {
    color:#000;
}
