/* Speech bubble code adapted from
   http://nicolasgallagher.com/progressive-enhancement-pure-css-speech-bubbles/ */

/* creates larger curve */
.rectangle-speech-border:before {
    content:"\00a0"; 		/* non-breaking space */
    position:absolute;
    z-index:1;
    top:-11px;
    left:-32px;
    width:30px;
    height:41px;
    border-style:solid;
    border-width:0 0 2px 2px;
    border-color:#bbf;
    background:transparent;

    /* css3 */
    -moz-border-radius-bottomleft:30px 41px;
    -webkit-border-bottom-left-radius:30px 41px;
    border-bottom-left-radius:30px 41px;
}

/* creates smaller curve */
.rectangle-speech-border:after {
    content:"\00a0";  		/* non-breaking space */
    position:absolute;
    z-index:1;
    top:-11px;
    left:-32px;
    width:30px;
    height:26px;
    border-style:solid;
    border-width:0 0 2px 2px;
    border-color:#bbf;
    background:transparent;

    /* css3 */
    -moz-border-radius-bottomleft:30px 31px;
    -webkit-border-bottom-left-radius:30px 31px;
    border-bottom-left-radius:30px 31px;
}

/* creates a white rectangle to cover part of the oval border*/
.rectangle-speech-border>:first-child:after {
    visibility:visible;
    content:"\00a0";
    position:absolute;
    z-index:2;
    top:17px;
    left:-2px;
    width:2px;
    height:13px;
    background:#fff;
}


/* creates larger curve */
.rectangle-speech-border-hidden:before {
    visibility:visible;
    content:"\00a0"; 		/* non-breaking space */
    position:absolute;
    z-index:2;
    top:-5px;
    left:-12px;
    width:10px;
    height:10px;
    border-style:solid;
    border-width:0 0 2px 2px;
    border-color:#bbf;
    background:transparent;

    /* css3 */
    -moz-border-radius-bottomleft:10px 10px;
    -webkit-border-bottom-left-radius:10px 10px;
    border-bottom-left-radius:10px 10px;
}

/* creates smaller curve */
.rectangle-speech-border-hidden:after {
    visibility:visible;
    content:"\00a0";  		/* non-breaking space */
    position:absolute;
    z-index:3;
    top:-5px;
    left:-12px;
    width:10px;
    height:6px;
    border-style:solid;
    border-width:0 0 2px 2px;
    border-color:#bbf;
    background:transparent;

    /* css3 */
    -moz-border-radius-bottomleft:10px 6px;
    -webkit-border-bottom-left-radius:10px 6px;
    border-bottom-left-radius:10px 6px;
}

/* creates a white rectangle to cover part of the oval border*/
.rectangle-speech-border-hidden>:first-child:after {
    visibility:visible;
    content:"\00a0";
    position:absolute;
    z-index:4;
    top:3px;
    left:-2px;
    width:2px;
    height:2px;
    background:#fff;
}
